#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: beige;
}
.form{
  background-color: #f54545;
  padding: 23px;
  text-align: center;
}
.title{
  color: white;
}